body,h1,h2,h3,h4,h5,h6,p,ul,li,a,table {margin: 0; padding: 0;}

body {
	background-color: #ebebeb;
	font-family:Helvetica, Arial;
}

*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

a,input {
	 -webkit-appearance: none;
	 -webkit-border-radius: 0;
	    -moz-border-radius: 0;
	         border-radius: 0;
}

.loading {
	background: url(../img/ico-loading.gif) no-repeat;
	width: 31px;
	height: 31px;
	margin: 0 auto;
}

.finish-copy {
	margin: 20px 0 20px 20px;
	color: black;
	font-weight: bold;
	font-family: Helvetica, Arial;
	font-size: 24px;
	position: absolute;
}

.finish-photo {
	max-width: 100%;
	min-height: 100%;
}

.submit-btn {
	background-color: black;
	text-transform: uppercase;
	color: white;
	font-size: 18px;
	padding: 10px;
	border: 0;
	margin: 15px 0;
	margin-left: 60px;
	font-family: Helvetica, Arial;
}

.submit-btn.finish-btn {
	margin-left: 27px;
}

.copy-txt {
	font-family: Arial;
	font-size: 16px;
	color: black;
	line-height: 20px;	font-weight: bold;
}

.copy-txt.big-title {
	font-size: 22px;
	margin-left: 0;
}

.copy-txt.point {
	margin-left: 15px;
}

.copy-txt.sub-title {
	font-weight: bold;
	margin-left: 0;
	font-size: 18px;
}

.navbar {
	margin-bottom: 0!important;
}

.main {
	width: 100%;
	font-family: Helvetica, Arial;
}

.main .main-header{
	height: 44.5px;
	width: 100%;
	background-color: #1e1e1e;
	overflow:hidden;
	padding-left:16.5px;
} 

.main .main-header h1{
	height: 22px;
	float: left;
	margin-top: 8px;
	width: 113px;
	font-family: Arial;
	font-size: 22px;
	font-weight: bold;
	color: white;
}

.main .main-header .menu-trigger{
	background:url("../img/menu-btn.png");
	background-size:100%;
	display:block;
	float:right;
	height:45px;
	width:53px;
}

.main .sub-header{
	height: 60px;
	width: 100%;
	background-color: #ffd504;
	color: black;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 58px;
}

.main .content {
	padding-bottom: 20px;
}

/*Home menu BEGIN*/
.main .content .bg-last-pic {
	background: url(../img/img-ppal.jpg) no-repeat;
	width: 100%;
	height: 357px;
	position: relative;
}

.main .content .bg-last-pic.finish-pic {
	background: none;
}

.main .content .bg-last-pic .welcome-txt{
	background: #000;
	opacity: .5;
	padding: 23px;
	position: absolute;
	bottom: 0;
	padding-right: 40px;
	width: 100%;
	height: 120px;
}

.main .content .bg-last-pic p {
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	opacity: 1;
	position: absolute;
	z-index: 10;
	bottom: 24px;
	width: 230px;
	left: 30px;
}

.main .content .content-buttons {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 402px;
}

.main .content .content-buttons .menu-button{
	width: 50%;
	height: 166px;
	text-align: center;
	font-size: 13px;
	background-color: #1e1e1e;
	border: 0;
	color: white;
	cursor: pointer;
	font-family: Arial;
	float: left;
	background-position: 50% 45%;
	padding-top: 100px;
}

.main .content .content-buttons .menu-button.see-map{
	background-color: #ffd512;
	color: black;
	background-image: url(../img/ico-menu-camera.png);
	background-repeat: no-repeat;
}

.main .content .content-buttons .menu-button.take-pic{
	
	background-image: url(../img/ico-menu-descubri.png);
	background-repeat: no-repeat;
	color: #ffd512;
}

/*Home menu END*/

/*--------///-----------*/

/*Take picture BEGIN*/

/*Take picture END*/

/*--------///-----------*/


/*General Map BEGIN*/
.main .content .map-container-general{
	width: 100%;
	margin-bottom: 15px;
}

.main .content .tag-container {
	width: 100%;
	margin: 15px 15px 0;
}

.main .content .tag-container label {
	color: black;
	font-size: 18px;
}

.main .content .tag-container input[type="text"].tag-field {
	border: 1px solid #CCC;
	background-color: white;
	width: 260px;
	height: 50px;
	padding: 14px;	color: black;
	font-size: 17px;
	font-family: Arial;
}

.main .content input[type="submit"].submit-btn {
	background-color: black;
	text-transform: uppercase;
	color: white;
	font-size: 18px;
	border: 0;
	margin: 15px 0;
	margin-left: 15px;
}
/*General Map END*/

/*--------///-----------*/


.main .content .fin-module {
}

.main .content .fin-module.finish-pic {
	background: none;
}

.main .content .fin-module .fin-txt{
	background: #000;
	opacity: .5;
	padding: 23px;
	position: absolute;
	bottom: 238px;
	padding-right: 40px;
	width: 100%;
	height: 120px;
}

.main .content .fin-module p {
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	opacity: 1;
	position: absolute;
	z-index: 10;
	bottom: 315px;
	width: 230px;
	left: 30px;
}

.main .content .fin-module span {
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
	opacity: 1;
	position: absolute;
	z-index: 10;
	bottom: 267px;
	width: 246px;
	left: 30px;
}


/*Photo info BEGIN*/

/*Photo info END*/






















