body,h1,h2,h3,h4,h5,h6,p,ul,li,a,table {margin: 0; padding: 0;}

html, body{height:100%;}
body {
	background-color: #ebebeb;
	font-family:Helvetica, Arial;
}

*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

a,input {
	 -webkit-appearance: none;
	 -webkit-border-radius: 0;
	    -moz-border-radius: 0;
	         border-radius: 0;
}

.loading {
	background: url(../img/ico-loading.gif) no-repeat;
	width: 31px;
	height: 31px;
	margin: 0 auto;
}

.finish-copy {
	margin: 20px 0 20px 20px;
	color: black;
	font-weight: bold;
	font-family: Helvetica, Arial;
	font-size: 24px;
	position: absolute;
}

.finish-photo {
	height: 100%;
	max-width:none;
}

.submit-btn {
	background-color: black;
	text-transform: uppercase;
	color: white;
	font-size: 18px;
	padding: 10px;
	border: 0;
	margin: 15px 0;
	margin-left: 60px;
	font-family: Helvetica, Arial;
}

.submit-btn.finish-btn {
	margin-left: 27px;
}

.copy-txt {
	font-family: Arial;
	font-size: 16px;
	color: black;
	line-height: 20px;	font-weight: bold;
}

.copy-txt.big-title {
	font-size: 22px;
	margin-left: 0;
}

.copy-txt.point {
	margin-left: 15px;
}

.copy-txt.sub-title {
	font-weight: bold;
	margin-left: 0;
	font-size: 18px;
}

.navbar {
	margin-bottom: 0!important;
}

.main {
	width: 100%;
	font-family: Helvetica, Arial;
	height:100%;
	position:relative;
}

.main .main-header{
	width: 100%;
	background-color: #1e1e1e;
	overflow:hidden;
	padding-left:16.5px;
	/*height:7%;*/
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
} 

.main .main-header h1{
	height: 22px;
	float: left;
	margin-top: 8px;
	width: 113px;
	font-family: Arial;
	font-size: 22px;
	font-weight: bold;
	color: white;
}

.main .main-header .menu-trigger{
	background:url("../img/menu-btn.png");
	background-size:100%;
	display:block;
	float:right;
	height:45px;
	width:53px;
}

.main .sub-header{
	height: 60px;
	width: 100%;
	background-color: #ffd504;
	color: black;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 58px;
}

.main .content {
	/*padding-bottom: 20px;*/
	height: 100%;
	position: relative;
}

/*Home menu BEGIN*/
.main .content .bg-last-pic {
	background: url(../img/img-ppal.jpg) no-repeat;
	width: 100%;
	height:74%;
	position: relative;
	background-size:100%;

	/*bottom: 80px;*/
}

.main .content .bg-last-pic.finish-pic {
	background: none;
}

.main .content .bg-last-pic .welcome-txt{
	background: #000;
	opacity: .5;
	padding: 23px;
	position: absolute;
	bottom: 0;
	padding-right: 40px;
	width: 100%;
	height: 120px;
}

.main .content .bg-last-pic p {
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	opacity: 1;
	position: absolute;
	z-index: 10;
	bottom: 24px;
	width: 230px;
	left: 30px;
}

.main .content .content-buttons {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	height:26%;
}

.main .content .content-buttons .menu-button{
	width: 50%;
	height: 100%;
	position: relative;
	background-color: #1e1e1e;
	border: 0;
	color: white;
	cursor: pointer;
	float: left;
	background-position: 50% 45%;
	text-align: center;
}

.main .content .content-buttons .menu-button span{
	font-size: 13px;
	font-family: Arial;
	position: absolute;
	bottom: 8px;
	left: 0;
	width: 100%;
	text-align: center;
}

.main .content .content-buttons .menu-button.see-map{
	background-color: #ffd512;
	color: black;
	background-image: url(../img/ico-menu-camera.png);
	background-repeat: no-repeat;
}

.main .content .content-buttons .menu-button.take-pic{
	
	background-image: url(../img/ico-menu-descubri.png);
	background-repeat: no-repeat;
	color: #ffd512;
}

/*Home menu END*/

/*--------///-----------*/

/*Take picture BEGIN*/

/*Take picture END*/

/*--------///-----------*/


/*General Map BEGIN*/
.main .content .map-container-general{
	width: 100%;
	margin-bottom: 15px;
}

.main .content .tag-container {
	width: 100%;
	margin: 15px 15px 0;
}

.main .content .tag-container label {
	color: black;
	font-size: 18px;
}

.main .content .tag-container input[type="text"].tag-field {
	border: 1px solid #CCC;
	background-color: white;
	width: 260px;
	height: 50px;
	padding: 14px;	color: black;
	font-size: 17px;
	font-family: Arial;
}

.main .content input[type="submit"].submit-btn {
	background-color: black;
	text-transform: uppercase;
	color: white;
	font-size: 18px;
	border: 0;
	margin: 15px 0;
	margin-left: 15px;
}
/*General Map END*/

/*--------///-----------*/


.main .content .fin-module {
}

.main .content .fin-module.finish-pic {
	background: none;
}

.main .content .fin-module .fin-txt{
	background: #000;
	opacity: .5;
	padding: 23px;
	position: absolute;
	bottom: 238px;
	padding-right: 40px;
	width: 100%;
	height: 120px;
}

.main .content .fin-module p {
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 26px;
	line-height: 26px;
	opacity: 1;
	position: absolute;
	z-index: 10;
	bottom: 315px;
	width: 230px;
	left: 30px;
}

.main .content .fin-module span {
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
	opacity: 1;
	position: absolute;
	z-index: 10;
	bottom: 267px;
	width: 246px;
	left: 30px;
}


/*Photo info BEGIN*/

/*Photo info END*/

/* TAKE PHOTO */

.preview-photo .photo{
	display:block;
	height:100%;
	max-width: none;
}

.preview-photo .picture-container{
	position:relative;
	height:86%;
}

.preview-photo .picture-container .picture-bottom{
	width:100%;
}
.preview-photo .picture-container .picture-bottom .caption{
	background:rgba(0,0,0,0.8);
	color:#FFF;
	font-size:23px;
	font-weight:bold;
	padding:20px;
}
.tag-photo{
	background:#000;
	padding:25px;
}
.tag-photo h1{
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	margin-bottom:18px;
}
.tag-photo input[type="text"]{
	background:#FFF;
	border:none;
	color:#FFD200;
	font-family:Helvetica;
	font-size:35px;
	height:45px;
	padding:10px;
	width:100%;
}
.bottom-buttons{
	background:#ffd512;
	height:75px;
	overflow:hidden;
	width:100%;
	position:absolute;
	bottom:0;
}

.bottom-buttons .big-button{
	background-color:#1e1e1e;
	background-position:center center;
	background-size:100%;
	display:block;
	float:left;
	font-size:0;
	height:75px;
	width:108px;
	text-indent: -9999px;
}

.bottom-buttons .big-button.photo{
	background-image:url("../img/photo.png");
}

.bottom-buttons .big-button.art{
	background-image:url("../img/art.png");
}

.bottom-buttons .geo-button{
	background-image:url("../img/geo.png");
}

.bottom-buttons .next-button{
	float:right;
	display:block;
	padding:30px 22px 30px 70px;
}

.bottom-buttons .next-button .caption{
	color:#1e1e1e;
	float:left;
	font-size:18.5px;
	font-weight:bold;
	line-height:15px;
	text-decoration:none;
}

.bottom-buttons .next-button .arrow{
	background-image:url("../img/arrow.png");
	background-size:100%;
	float:right;
	margin-left:16px;
	height:16px;
	width:10.5px;
}

.container{
	height:100%;
	position:relative;
}

/*preview*/
.preview-photo{
	background:#000;
}

.preview-photo .data-content-position{
	position:absolute;
	bottom:0;
	height:280px;
	overflow:hidden;
	width:100%;
}

.preview-photo .data-content-position .map-container-general img{
	width:100%;
}

.preview-photo .data-content-tag{
	height:217px;
}

/*discover*/
.discover .map-discover{
	width:100%;
	height:140px;
	overflow:hidden;
}

.discover .map-discover img{
	width: 100%
}

.discover ul{
	background-color:#fff;
}

.discover li{
	border-bottom:1px solid #ccc;
}

.discover li a{
	height:80px;
	display:block;
	overflow:hidden;
}

.discover li a .discover-img img{
	float:left;
	height:80px;
	width:110px;
	overflow:hidden;
	margin-right:10px;
}

.discover li a .discover-detail{
	display:block;
	padding:28px 0 0 100px;
	background:url("../img/discover.png") right 28px no-repeat;
}

.discover li a .discover-detail h3{
	font:bold 15px/15px Arial;
	text-transform:uppercase;
	color:#000;
}

.discover li a .discover-detail span{
	font:bold 15px/15px Arial;
	display:block;
	text-transform:uppercase;
	color:#919191;
}

.discover-detail .img-detail-content{
	height: 100%;
	width:100%;
	position: relative;
	overflow:hidden;
}

.discover-detail .img-detail-content img{
	height:100%;
	max-width: none;
}

.discover-detail .data-content-position{
	position: absolute;
	bottom:0;
	width:100%;
}

.discover-detail .data-content-position .data-content-position-info{
	height: 65px;
	width:100%;
	background: rgba(0,0,0,0.8);
	padding:18px 0 0 25px;
}

.discover-detail .data-content-position h3{
	font:bold 15px/15px Arial;
	text-transform:uppercase;
	color:#ffd512;
	padding:0 5px 0 0;
}

.discover-detail .data-content-position span{
	font:bold 15px/15px Arial;
	display:block;
	text-transform:uppercase;
	color:#fff;
}

.discover-detail .data-content-position .bottom-buttons{
	position:static;
	background-color:#1e1e1e;
}

.discover-detail .data-content-position .bottom-buttons .discover-icon{
	width:25%;
	background-image:url("../img/ico-discover.png");
	background-color:#ffd512;
	background-size: 150%;
}

.discover-detail .data-content-position .bottom-buttons a{
	width:25%;
	height:75px;
	display:block;
	text-indent:-9999px;
	float:left;
	background-size: 150%;
	background-position: center;
}

.discover-detail .data-content-position .bottom-buttons a.map{
	background-image:url("../img/ico-map.png");
}

.discover-detail .data-content-position .bottom-buttons a.list{
	background-image:url("../img/ico-list.png");
}

.discover-detail .data-content-position .bottom-buttons a.take-picture{
	background-image:url("../img/ico-takepicture.png");
}

@media screen and (min-width: 480px) and (max-width: 640px){

	.main .main-header{
		height:14%;
	}
	.main .content .bg-last-pic{
		background-size:100% auto;
		background-position:center;
	}
	.main .content .bg-last-pic .welcome-txt{
		height:100px;
	}
	.main .content .bg-last-pic p{
		width:300px;
	}

}
