<div class="content discover-detail">
	<div class="img-detail-content">
		<img ng-src="{{point.photo}}"/>
		<div class="data-content-position">
			<div class="data-content-position-info">
				<h3>{{point.name}}</h3>
				<span>{{point.tags}} </span>
				<span>{{point.category}}</span>
				<span class="data-min">Por {{point.author}} <span class="data-min-minutes">{{point.date | fromNow}}</span></span>
			</div>
			<div class="bottom-buttons">
			   <div class="big-button discover-icon"></div>
			   <a class="map" href="#/map/">map</a>
			   <a class="list" href="#/discover/">list</a>
			   <a class="take-picture" href="#/take-photo/">take</a>
    		</div>
		</div>
	</div>
</div>
