<div class="content discover">
	<div class="map-discover">
		<img ng-src="{{map}}"/>
	</div>
	<h1>{{position.coords.latitude}} , {{position.coords.longitude}}</h1>

	<ul>
	    <li ng-repeat="point in points">
	        <a href="" ng-click="showDetail(point)">
	        	<div class="discover-img">
	        		<img ng-src="{{point.photo}}"/>
	        	</div>
		        <div class="discover-detail">
			        <h3> {{point.name}}</h3>
			        <span>{{point.tags}} </span>
		       	</div>
	        </a>
	    </li>
	</ul>
</div>
