


<div class="content">
    <p> El Patrominio Cultural Urbano es de todos. Ayudanos a recolectar informacion sobre todo el arte de la ciudad </p>

    <div class="content-buttons">
        <p><b> Como ayudar?</b></p>

        <button class="menu-button take-pic" ng-click="takepic()">SACA FOTOS</button>
<!--         <small> Cada foto sera identificada geograficamente y sera tenida en cuenta para ser parte del patriomonio</small> -->

        <button class="menu-button see-map" onclick="window.location.hash='/map'">DESCUBRIR MAPAS</button>
<!--         <p>En tu barrio existen cientos de puntos listos para ser descubiertos. El mapa oficial, te los muestra todos.</p>
 -->    </div>
</div>