<div class="content discover-detail">
	<div class="img-detail-content">
		<div class="maps">
			mapa
		</div>
		<div class="data-content-position">
			<!--<div class="data-content-position-info">
				<h3> {{point.name}}</h3>
				<span>{{point.tags}} </span>
			</div>-->
			<div class="bottom-buttons">
			   <div class="big-button discover-icon"></div>
			   <a class="map" href="#/map/">map</a>
			   <a class="list" href="#/discover/">list</a>
			   <a class="take-picture" ng-click="takepic()">take</a>
    		</div>
		</div>
	</div>
</div>
