<div class="content preview-photo">
	<div class="picture-container">
		<img class="photo" ng-src="{{photo}}"/>
		<div class="data-content-position">
			<div class="picture-bottom">
				<h1 class="caption" class="copy-txt big-title point">Donde esta esta obra?</h1>
			</div>
			<div class="map-container-general">
		      <img ng-src="{{map}}"/>
		    </div>
		</div>
	</div>
	<div class="bottom-buttons">
	   <a ng-click="refreshLocation()" class="big-button map geo-button" href="">Geolocation</a>
       <a class="next-button" href="#/tag/"><span class="caption">Siguiente</span><span class="arrow"></span></a>
    </div>
 </div>